.container {
    max-width: 1300px;
    padding: 10px;
    font-family: 'Nunito Sans', sans-serif;
}
.mt-4{
    font-size: 28px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}
.span{
    font-size: 16px;
    color: #0F1934;
}
.text-p{
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Nunito Sans', sans-serif;
}
.card{
    margin-top: 10px;
    background-color: #0F1934;
    font-family: 'Nunito Sans', sans-serif;
}
.card-title{
    color: #CDDAEF;
    font-size:24px;
    font-family: 'Nunito Sans', sans-serif;
}
.icon{
    margin-bottom: 5px;
    margin-top: 10px;
}
.icon-fi{
    width: 55px;
    height: 55px;
    margin-top: 5px;
}
.btn{
    margin-top: 10px;
    background-color: transparent;
    border-color: transparent;
}
.btn:hover{
    color: #6be26b;
}

.container {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 2em;
    color: #2c3e50;
}

.table-container,
.table-container-large {
    margin-top: 20px;
}

.table-wrapper {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.table-title {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #e9ecef;
}

.status {
    font-weight: bold;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
}

.status-green {
    color: #fff;
    background-color: #28a745;
}

.status-red {
    color: #fff;
    background-color: #dc3545;
}

.status-orange {
    color: #fff;
    background-color: #fd7e14;
}
