<div class="container pt-5">
    <div class="container mt-4">
        <h3 class="text-p"><span>|</span> Sistemas da Watch</h3>
    </div>

    <!-- Status dos Sistemas -->
    <div class="table-container-large">
        <h4 class="table-title">Status dos Sistemas</h4>
        <table class="table table-full-width">
            <thead>
                <tr>
                    <th>Sistema</th>
                    <th>Status</th>
                    <th>Última Verificação</th>
                    <th>Responsável</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Sistema WEB</td>
                    <td class="status status-green">Operacional</td>
                    <td>25/11/2024 08:00</td>
                    <td>Lucas Almeida</td>
                </tr>
                <tr>
                    <td>Mobile - IOS</td>
                    <td class="status status-red">Offline</td>
                    <td>25/11/2024 07:45</td>
                    <td>Fernanda Souza</td>
                </tr>
                <tr>
                    <td>Mobile - Android</td>
                    <td class="status status-orange">Instável</td>
                    <td>25/11/2024 07:50</td>
                    <td>João Silva</td>
                </tr>
            </tbody>
        </table>
    </div>


    <!-- Histórico de Manutenção -->
    <div class="table-container-large mt-5">
        <h4 class="table-title">Histórico de Manutenção</h4>
        <table class="table table-full-width">
            <thead>
                <tr>
                    <th>Sistema</th>
                    <th>Data</th>
                    <th>Descrição</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Sistema WEB</td>
                    <td>20/11/2024</td>
                    <td>Atualização de segurança</td>
                    <td class="status status-green">Concluído</td>
                </tr>
                <tr>
                    <td>Mobile - IOS</td>
                    <td>18/11/2024</td>
                    <td>Correção de bug</td>
                    <td class="status status-red">Pendente</td>
                </tr>
                <tr>
                    <td>Mobile - Android</td>
                    <td>15/11/2024</td>
                    <td>Otimização de desempenho</td>
                    <td class="status status-orange">Em andamento</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
