<body class="login-page">
    <div class="section-main">
        <div class="login-container">
            <div class="logo-container">
                <img src="assets/imgs/logo-watch-rn.png" alt="Logo" class="logo">  
            </div>
            <h1>Login - Monitoramento</h1>
            <form class="login-form">
                <label for="username" class="input-label">Nome</label>
                <input type="text" id="username" placeholder="Digite seu username" class="login-input">
                <label for="password" class="input-label">Senha</label>
                <input type="password" id="password" placeholder="Digite sua senha" class="login-input">
                <p class="forgot-password">
                    Esqueceu sua senha? <a href="#" class="forgot-link"> Clique aqui!</a>
                </p>
                <div class="button-container">
                    <a routerLink="/visu" class="login-button">Entrar</a>
                    <a routerLink="/home" class="back-button">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</body>
