.login-page .navbar,
.login-page .footer {
    display: none;
}

.section-main {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, rgb(3, 3, 3), #ff4f0d);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container principal */
.login-container {
    background-color: rgba(0, 0, 0, 0.85);
    padding: 60px;
    border-radius: 15px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
}

/* Estilo para a logo centralizada */
.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 200px;
    height: auto;
}

/* Estilo do cabeçalho */
h1 {
    margin-bottom: 30px;
    font-size: 2rem;
}

/* Estilo dos botões de visão */
.view-button {
    display: block;
    padding: 15px;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: dodgerblue;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.view-button:hover {
    background-color: deepskyblue;
}

/* Ajusta o layout para dispositivos móveis */
@media (max-width: 768px) {
    .login-container {
        padding: 40px;
    }
}