<body class="login-page">
    <div class="section-main">
        <div class="login-container">
            <div class="logo-container">
                <img src="assets/imgs/logo-watch-rn.png" alt="Logo" class="logo">  
            </div>
            <h1>Selecione a Visão</h1>
            <div class="button-container">
                <a routerLink="/usuario/dashboard-gerente" class="view-button">Visão do Gerente</a>
                <a routerLink="/usuario/dashboard-qa" class="view-button">Visão do QA</a>
                <a routerLink="/usuario/dashboard-suporte" class="view-button">Visão do Suporte</a>
            </div>
        </div>
    </div>
</body>